doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
        meta(name='viewport',content='width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui')
        meta(name='apple-mobile-web-app-status-bar-style',content='black')
        title 两只熊-问卷调查
        link(rel='stylesheet',type="text/css",href='/app/dist/app.css')
        link(rel='stylesheet',type="text/css",href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css')
    body
        div#example
        img(style="height: 100%;width: 100%;opacity: 0",src="/app/images/score_100.jpg")
        script(src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js')
        script(type='text/javascript').
          var signature = '#{signature}';
          var nonceStr = '#{noncestr}';
          var timestamp = '#{timestamp}';
          var appId = '#{appId}';
          var jsapi_ticket = '#{jsapi_ticket}';
        script(src='/app/dist/app.js')
        script(src='/share/share.js')
